%h2.tagline.contrast_text
    Ad Hoc Content
%p.tagline
    \... what it says on the tin ...
%h2.tagline.shiftdown.contrast_text
    Space birds ...
%p.tagline.zigzag
    Weird stuff from NASA. They have a new satellite monitoring the radiation belts around the earth. These are random 'sounds' (audio realisations of radio waves) they pick up mostly in the morning - a cosmic dawn chorus. And mostly this illustrates the use of the new HTML5 audio tag.
%audio{:controls => "controls", :preload => "auto"}
    %source{:src => "audio/687631main_687014main_emfisis_chorus_1.mp3"}
    %source{:src => "audio/spacebirds.ogg"}