%ul.demos
    %li
        %a{:href => "http://zahiddar.com/ddd.html", :target => "_blank"}
            %img{:src => "images/zahidswebsmall.png", :alt => "Zahid Dar's website"}
            %h2
                Zahid Dar's Website