%nav#navigation.navigation
    %ul
        %li.audio-video
            %a{:href => "webdev"}
                Web Development
        %li.canvas
            %a{:href => "contact"}
                Contact
        %li.css3
            %a{:href => "adhoc"}
                Ad Hoc
        %li.getusermedia
            %a{:href => "itspecialists"}
                I.T. Specialists
        %li.svg
            %a{:href => "blog"}
                Blog
        %li.newsvg
            %a{:href => "zigzag"}
                SVG App 
        %li.webgl
            %a{:href => "newtech"}
                New Technologies 
        %li.touch
            %a{:href => "gallery"}
                Gallery      