%h2.tagline.contrast_text
    Hardware
%p.tagline
    We have 10 years + experience building, repairing, upgrading PC's. Diagnosis and repair. Don't throw away your old laptop! We can offer cheap, effective upgrades and tuning.

    Want a new system? We can build you one and install your preferred operating system - you choose the specification with our guidance, we build it. Typically 75% of the cost of an 'off the shelf' machine.

    We design and install networked systems for both home and SME's.
%h2.tagline.contrast_text
    Software
%p.tagline
    Specialists in Linux and Windows (all flavours). Advice on choice of software. Installation of operating systems / software. Training for individuals / groups.
