%article#onsvg.tagline
    %h1
        Scalable Vector Graphics

%article#onhtml5.tagline
    %h1 
        HTML5 (rocks!)

%article#onWebGL.tagline
    %h1
        WebGL
    %h2
        ThreeJS

%article#onvideoaudio.tagline
    %h1
        Video and Audio